accelerate==0.33.0
diffusers==0.30.2
huggingface-hub==0.24.6
pillow==10.2.0
python-dotenv==1.0.1
safetensors==0.4.4
sentencepiece==0.2.0
tensorboard==2.17.1
tensorboard-data-server==0.7.2
tensorflow==2.17.0
tensorflow-intel==2.17.0
tensorflow-io-gcs-filesystem==0.31.0
tokenizers==0.19.1
torch==2.4.1+cu121
torchaudio==2.4.1+cu121
torchsde==0.2.6
torchvision==0.19.1+cu121
tqdm==4.66.5
transformers==4.44.2
